<div [formGroup]="form">

  <ng-template #formTmpl
               let-index="index">
    <label [attr.for]="questionId(index)">{{ questionLabel(index) }}</label>

    <div [ngSwitch]="question.controlType">

      <input *ngSwitchCase="'textbox'"
             [formControl]="questionControl(index)"
             [placeholder]="question.placeholder"
             [attr.min]="question['min']"
             [attr.max]="question['max']"
             [attr.pattern]="question['pattern']"
             [id]="questionId(index)"
             [type]="question['type']">

      <select [id]="question.key"
              *ngSwitchCase="'dropdown'"
              [formControl]="questionControl(index)">
        <option value=""
                disabled
                *ngIf="!!question.placeholder"
                selected>{{ question.placeholder }}</option>
        <option *ngFor="let opt of question['options']"
                [value]="opt.key">{{ opt.value }}</option>
      </select>

      <textarea *ngSwitchCase="'textarea'"
                [formControl]="questionControl(index)"
                [id]="question.key"
                [cols]="question['cols']"
                [rows]="question['rows']"
                [maxlength]="question['maxlength']"
                [minlength]="question['minlength']"
                [placeholder]="question.placeholder"></textarea>
    </div>

    <div class="errorMessage"
         *ngIf="!isValid">{{ question.label }} is required</div>

  </ng-template>

  <div *ngIf="question.iterable; else formTmpl">
    <div *ngFor="let field of questionArray.controls; let i=index; first as isFirst last as isLast">
      <ng-container [ngTemplateOutlet]="formTmpl"
                    [ngTemplateOutletContext]="{index: i}"></ng-container>

      <button *ngIf="question.iterable && questionArray.controls.length > 1"
              (click)="removeQuestion(i)"
              type="button">-</button>

      <button *ngIf="question.iterable && isLast"
              (click)="addQuestion()"
              type="button">+</button>

    </div>
  </div>

</div>
